[submodule "examples/deps/_glfw/glfw"]
	path = examples/deps/_glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "examples/deps/_glm/glm"]
	path = examples/deps/_glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "examples/deps/_stb/stb"]
	path = examples/deps/_stb/stb
	url = https://github.com/nothings/stb.git
